---

---

<div class="component-container">
	<slot />
</div>

<style>
  .component-container {
    max-width: 600px;
    padding: var(--spacing-300);
    background-color: var(--clr-white);
    border-radius: var(--br-soft);
    box-shadow: var(--box-shadow);
  }
  
  @media (min-width: 37.5rem) {
    .component-container {
      padding: var(--spacing-500);
    }
  }

</style>
