---

---

<section class="component-container">
	<slot />
</section>

<style>
	.component-container {
    max-width: 600px;
    margin-inline: auto;
    padding: var(--spacing-300);
    background-color: var(--clr-white);
    border-radius: var(--br-soft);
  }
</style>
