---

import starIcon from '../assets/icon-star.svg';
import background from '../assets/background.svg';
---

<div id="container">
	<!-- <img id="background" src={background.src} alt="" fetchpriority="high" /> -->
	<section class="component-container">
		<header class="component-container">
			<img src={starIcon.src} alt="">
			<h2>FAQs</h2>
		</header>


	</section>


</div>

<style>
	#container {
		height: 100%;
	}

</style>
