---
// Supports weights 100-900
import '@fontsource-variable/work-sans';
import '@fontsource-variable/work-sans/wght-italic.css';
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<h1 class="visually-hidden">
      Frontend Mentor Accordion Component
    </h1>
		<main class="wrapper">
			<slot />
		</main>
	</body>
</html>

<style>
	body {
		min-height: 100vh;
		font-family: 'Work Sans Variable', sans-serif;
    font-size: var(--text-preset-1);
    display: grid;
    place-content: center;
		background-image: url('../assets/background-pattern-mobile.svg');
		background-repeat: no-repeat;
		background-size: 100% auto;
    background-color: var(--clr-purple-100);
    color: var(--clr-purple-950);
	}

	h1,
  h2 {
    font-size: var(--heading-preset-1);
    line-height: 1.1;
  }
  
  .wrapper {
    padding-inline: var(--spacing-300);
  }

	@media (min-width: 37.5rem) {
		body {
			background-image: url('../assets/background-pattern-desktop.svg');
			background-size: auto;
			background-position: top;
		}
	}
</style>
